@charset "UTF-8";
/* CSS Document */

body {
	background-repeat: ;
	background-image: ;
	background-color: ;
	padding-top: 0px;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 965px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000;
}

header, footer {
	width: 965px;

	margin-right: ;
	margin-left: ;
	height: 120px;
	background-color: #3F0;
	float: left;
}

nav {
	background-color: #3FF;	
	width: 965px;
	height: 120px;
	float: left;
}

section {
	background-color: #396;
	width: 965px;
	height: 600px;
	float: left;
}

figure {
	float: left;
}
